@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body 
{
    font-family : 'Noto Sans', sans-serif !important;
    background-color: #eee8e4 !important;

}
.contact-img
{
    width: 200px;
    height:200px;
    border-color:black;
    border-radius:50%;
    
}

